USE [CentroDeportivo]
GO
/****** Object:  Table [dbo].[Actividades]    Script Date: 22/01/2026 19:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[AforoMaximo] [int] NOT NULL,
 CONSTRAINT [PK_Actividades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 22/01/2026 19:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SocioId] [int] NOT NULL,
	[ActividadId] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_Reservas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Socios]    Script Date: 22/01/2026 19:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Socios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actividades] ON 

INSERT [dbo].[Actividades] ([Id], [Nombre], [AforoMaximo]) VALUES (1, N'Spinning', 10)
INSERT [dbo].[Actividades] ([Id], [Nombre], [AforoMaximo]) VALUES (2, N'Yoga', 15)
INSERT [dbo].[Actividades] ([Id], [Nombre], [AforoMaximo]) VALUES (3, N'Pilates', 12)
SET IDENTITY_INSERT [dbo].[Actividades] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservas] ON 

INSERT [dbo].[Reservas] ([Id], [SocioId], [ActividadId], [Fecha]) VALUES (21, 2, 1, CAST(N'2026-01-11T00:00:00.000' AS DateTime))
INSERT [dbo].[Reservas] ([Id], [SocioId], [ActividadId], [Fecha]) VALUES (22, 2, 3, CAST(N'2026-01-11T00:00:00.000' AS DateTime))
INSERT [dbo].[Reservas] ([Id], [SocioId], [ActividadId], [Fecha]) VALUES (23, 2, 3, CAST(N'2026-01-11T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reservas] OFF
GO
SET IDENTITY_INSERT [dbo].[Socios] ON 

INSERT [dbo].[Socios] ([Id], [Nombre], [Email], [Activo]) VALUES (1, N'Ana López', N'ana.lopez@email.com', 1)
INSERT [dbo].[Socios] ([Id], [Nombre], [Email], [Activo]) VALUES (2, N'Carlos Pérez', N'carlos.perez@email.com', 0)
INSERT [dbo].[Socios] ([Id], [Nombre], [Email], [Activo]) VALUES (3, N'María García', N'maria.garcia@email.com', 1)
SET IDENTITY_INSERT [dbo].[Socios] OFF
GO
ALTER TABLE [dbo].[Socios] ADD  CONSTRAINT [DF_Socios_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Actividades] FOREIGN KEY([ActividadId])
REFERENCES [dbo].[Actividades] ([Id])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Actividades]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Socios] FOREIGN KEY([SocioId])
REFERENCES [dbo].[Socios] ([Id])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Socios]
GO
